<section style="padding: 60px 20px; text-align: center">
  <h1
    style="
      font-family: 'Playfair Display', serif;
      font-size: 36px;
      color: var(--text-accent);
    "
  >
    Why?
  </h1>

  <div
    style="
      margin-top: 18px;
      color: #888;
      text-align: center;
      font-style: italic;
    "
  >
    <div>For the boy to whom I made an impossible promise.</div>
    <div>I'm trying</div>
  </div>

  <div class="poem" style="max-width: 740px; margin: 36px auto 0;">
FYC

I dreamt of a golden tower
Built by mine own hands
That lanced the clouds and
Stabbed through heaven
And drenched the cosmos with life.
I dreamt.
And so none bore witness
To the shine and the hum
And the meat of it all.
  </div>
</section>
